<% 
  const navLinks = [
    { name: "Mattress", url: "/mattress", active: true },
    { name: "Pillows", url: "/pillows", active: false },
    { name: "Beds", url: "/beds", active: false },
    { name: "About", url: "/about", active: false }
  ]; 
%>

<ul class="flex space-x-8 text-gray-700">
  <% navLinks.forEach((link) => { %>
  <li class="relative">
    <a href="#" class="font-medium"><%- link.name %></a>
    <% if (link.active) { %>
    <div class="absolute left-0 w-full h-[2px] bg-black"></div>
    <% } %>
  </li>
  <% }) %>
</ul>