<div
  class="hidden md:block <%- typeof classname !== 'undefined' ? classname : '' %>"
>
  <h2 class="text-[44px] font-bold"><%- title %></h2>
  <p class="pb-16 text-sm text-[#1C1C1C]"><%- description %></p>
</div>
