<nav class="flex items-center justify-between px-8 py-4 shadow-md bg-white">
  <!-- Logo -->
  <a href="#">
    <div class="flex items-center space-x-2">
      <img src="images/user/icons/logo.svg" alt="ComfiNest Logo" class="h-8" />
      <span class="text-2xl font-bold">ComfiNest</span>
    </div>
  </a>

  <!-- Navigation Links -->
  <%- include("../molecules/NavLinks.ejs") %>
  <!-- Search Bar -->
  <div class="relative flex items-center">
    <input type="text" placeholder="Search products..." class="bg-gray-100 px-4 py-2 rounded-l-full outline-none w-64" />
    <a href="#" class="bg-black text-white px-4 py-2 rounded-r-full">
      <img src="images/user/icons/search.svg" alt="search icon">
    </a>
  </div>

  <!-- Icons -->
  <div class="flex items-center space-x-6">
    <a href="#">
      <!-- Cart Icon -->
      <img src="images/user/icons/cart.svg" alt="cart icon">
    </a>
    <a href="#">
      <!-- User Icon -->
      <img class="w-10" src="images/user/icons/profile.svg" alt="profile icon">
    </a>
  </div>
</nav>