<nav class="flex items-center justify-between bg-white px-8 py-4 shadow-md">
  <!-- Logo -->
  <a href="/">
    <div class="flex items-center space-x-2">
      <img src="/images/icons/logo.svg" alt="ComfiNest Logo" class="h-8" />
      <span class="text-2xl font-bold">ComfiNest</span>
    </div>
  </a>

  <!-- Navigation Links -->
  <%- include("../molecules/NavLinks.ejs") %>
  <!-- Icons -->
  <div class="flex items-center space-x-6">
    <a href="#">
      <!-- Cart Icon -->
      <img src="/images/icons/cart.svg" alt="cart icon" />
    </a>
    <a href="#">
      <!-- User Icon -->
      <img class="w-10" src="/images/icons/profile.svg" alt="profile icon" />
    </a>
  </div>
</nav>
